* {
  color: #2C3E50
}

.header i,
header h1 {
  font-size: x-large;
  color    : #2C3E50;
}

.nav,
.nav a,
.nav a i {
  font-size: 19px;
  color    : #fff !important;
}

.nav a:hover {
  background-color: #2C3E50 !important;
}

.nav i {
  padding-right: 5px !important;
}

.btnAzul, .btnAzul:hover {
  background-color: #2980B9;
  color: #fff;
}

.none {
  display: none;
}

